src/main/mule/privte.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="privteFlow" doc:id="93ad1637-9da0-4923-b963-aae7791021a5" >
		<db:select doc:name="Select" doc:id="306a6bd9-5930-4792-9593-c56425383376" config-ref="Database_Config">
			<db:sql ><![CDATA[Select * from employee where empID=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.queryParams.empID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c8c3aaad-cd4d-4a6e-adc8-97b28057852c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	data: {
		(payload map(employee , indexOfEmployee) -> {
			employees:{
				ID : employee.empID,
				Name: employee.empName,
				Age: employee.empAge,
				Type: employee.empType
				
			}
		})
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1d4ede35-e08f-4ad5-affa-bbc34cece3f7" message="#[payload]"/>
	</flow>
</mule>
